{% if ''|scriptName != '/app_dev.php' %}
    <script type="text/javascript" src="/assetic/js/user.min.js"></script>
    <script type="text/javascript" src="/bundles/pizoneuser/js/config.js"></script>
{% else %}
    <script type="text/javascript" src="{{ asset('bundles/pizoneuser/js/app.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneuser/js/translations/user/en.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneuser/js/translations/user/ru.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneuser/js/translations/security/en.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneuser/js/translations/security/ru.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneuser/js/translations.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneuser/js/config.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/pizoneuser/js/model/user/model.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneuser/js/model/user/form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneuser/js/controller/user/list.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneuser/js/controller/user/edit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneuser/js/controller/user/new.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneuser/js/controller/user/user.info.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneuser/js/controller/security/login.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/pizoneuser/js/factory/auth.interceptor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pizoneuser/js/module/pizone.auth.js') }}"></script>
{% endif %}