<div class="middle-box text-center loginscreen  animated fadeIn" ng-controller="LoginCtrl">
    <div>
        <div>
            <h1 class="logo-name">WF</h1>
        </div>
        <h3>{{'ACCOUNT.WELCOME' | translate}}</h3>
        <p>{{'ACCOUNT.DESCRIPTION' | translate}}</p>

        <form class="m-t" id="formId" ng-submit="Click.Submit()">
            <div class="form-group" ng-class="{'has-error': !valid}">
                <em for="username" class="text-danger" ng-if="!valid">{{error | translate}}</em>
                <input type="text" class="form-control" placeholder="{{'ACCOUNT.USERNAME' | translate}}" required="" name="username" ng-model="username"/>
            </div>
            <div class="form-group" ng-class="{'has-error': !valid}">
                <input type="password" class="form-control" placeholder="{{'ACCOUNT.PASSWORD' | translate }}" required="" name="password" ng-model="password">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">{{'ACCOUNT.LOGIN' | translate }}</button>

            <!--<a ui-sref="forgot_password"><small>Forgot password?</small></a>-->
        </form>
        <p class="m-t"> <small>{{'ACCOUNT.COPYRIGHT' | translate}}</small> </p>
    </div>
</div>